<div id="about" class="rn-about-area rn-section-gap section-separator section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-once="true"
          class="image-area aos-init"
        >
          <div class="thumbnail">
            <img
              appLazyLoadImage
              loading="lazy "
              data-src="profile/IMG_3529.jpg"
              class="lazy-img heroImg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-once="true"
        class="col-lg-7 mt_sm--30 aos-init"
      >
        <div class="contant">
          <div class="section-title text-left">
            <span class="subtitle">Visit my portfolio &amp; Hire me</span>
            <h2 class="title">About Me</h2>
          </div>
          <p class="discription">
            I’m Abhishek, a web developer who fell in love with coding back in
            2022 during my college days. What started as simple HTML and CSS
            experiments quickly turned into a full-blown passion for building
            clean, responsive, and user-friendly web experiences. Over the
            years, I’ve worked extensively with Angular, Tailwind CSS,
            Bootstrap, and GraphQL, while also gaining hands-on experience with
            React and Node.js. I’m always exploring new tools and design
            principles to create interfaces that not only work well but feel
            great to use.
          </p>
          <a class="rn-btn" href="#contacts"><span>DOWNLOAD MY CV</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
