<div id="about" class="rn-about-area rn-section-gap section-separator section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-once="true"
          class="image-area aos-init"
        >
          <div class="thumbnail">
            <img
              appLazyLoadImage
              loading="lazy "
              data-src="profile/IMG_3529.jpg"
              class="lazy-img heroImg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-once="true"
        class="col-lg-7 mt_sm--30 aos-init"
      >
        <div class="contant">
          <div class="section-title text-left">
            <span class="subtitle">Visit my portfolio &amp; Hire me</span>
            <h2 class="title">About Me</h2>
          </div>
          <p class="discription">
            Hi, I'm Abhishek! My journey in web development started back in 2022
            during my college days, when I first got curious about how websites
            actually work. I began experimenting with HTML and CSS, and built
            simple projects just out of curiosity — and soon, it turned into a
            passion. Over time, I’ve worked primarily with Angular, HTML, CSS,
            Tailwind CSS, Bootstrap, and GraphQL — building full-stack projects
            that are responsive, accessible, and performance-focused. One of my
            notable projects is a resume builder where I implemented dynamic
            forms, Google authentication, and PDF export features. Alongside my
            core stack, I’ve also become comfortable working with React and
            Node.js. I'm always eager to explore new tools and technologies that
            improve the user experience and development workflow. I also enjoy
            diving into UI/UX design principles and constantly try to bridge the
            gap between great design and clean code
          </p>
          <a class="rn-btn" href="#contacts"><span>DOWNLOAD MY CV</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
