<header id="header_id">
  <nav
    id="navbar_id"
    class="rn-header haeder-default black-logo-version header--fixed header--sticky"
  >
    <div
      class="header-wrapper m--0 rn-popup-mobile-menu row align-items-center"
    >
      <div class="col-lg-2 col-6">
        <div class="header-left">
          <div class="logo">
            <a href="index.html">
              <img
                class="profile-image rounded-full bg-cover bg-center"
                data-src="profile/DSC_0561.JPG"
                src="profile/DSC_0561.JPG"
                alt="logo"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-6">
        <div class="header-center">
          <nav id="sideNav" class="mainmenu-nav navbar-example2 onepagenav">
            <ul class="primary-menu nav nav-pills">
              <li class="nav-item">
                <a class="nav-link smoth-animation" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a href="#about" class="nav-link smoth-animation">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link smoth-animation" href="#experiences"
                  >Experience</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link smoth-animation" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link smoth-animation" href="#educations"
                  >Education</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link smoth-animation" href="#works">Works</a>
              </li>
              <li class="nav-item">
                <a href="#contacts" class="nav-link smoth-animation">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="header-right">
            <a class="rn-btn no-shadow" href="#contacts"
              ><span>CONTACT ME</span></a
            >
            <i
              id="menuBtn"
              class="feather-menu humberger-menu d-block d-xl-none"
            ></i>
            <div class="close-menu d-block">
              <span class="closeTrigger">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-x"
                >
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="popup-mobile-menu">
  <div class="inner">
    <div class="menu-top">
      <div class="menu-header">
        <a class="logo" href="index.html">
          <img
            class="profile-image"
            src="profile/DSC_0561.JPG"
            alt="Personal Portfolio"
          />
        </a>
        <div class="close-button">
          <button class="close-menu-activation close">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>
      </div>
      <p class="discription">
        I turn coffee into components and bugs into features — mostly
        intentionally.
      </p>
    </div>
    <div class="content">
      <ul class="primary-menu nav nav-pills">
        <li class="nav-item current">
          <a class="nav-link smoth-animation" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link smoth-animation">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smoth-animation" href="#experiences">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smoth-animation" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smoth-animation" href="#educations">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smoth-animation" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#contacts" class="nav-link smoth-animation">Contact</a>
        </li>
      </ul>
      <div class="social-share-style-1 mt--40">
        <span class="title">find with me</span>
        <ul class="social-share d-flex liststyle">
          <li class="facebook">
            <a
              href="https://www.facebook.com/profile.php?id=100007457258415"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-facebook"
              >
                <path
                  d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                ></path></svg
            ></a>
          </li>
          <li class="instagram">
            <a
              target="_blank"
              href="https://www.instagram.com/itsabhishek.ojha/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-instagram"
              >
                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                <path
                  d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                ></path>
                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg
            ></a>
          </li>
          <li class="linkedin">
            <a href="www.linkedin.com/in/abhishek-ojha-aab72421a"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-linkedin"
              >
                <path
                  d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                ></path>
                <rect x="2" y="9" width="4" height="12"></rect>
                <circle cx="4" cy="4" r="2"></circle></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
