<div
  class="rn-portfolio-area portfolio-style-three rn-section-gap section-separator section"
  id="works"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="100"
          data-aos-once="true"
          class="section-title text-center"
        >
          <span class="subtitle"
            >Visit my portfolio and keep your feedback</span
          >
          <h2 class="title">My Portfolio</h2>
        </div>
      </div>
    </div>
    <div class="row mt--25 mt_md--5 mt_sm--5">
      <div class="col-lg-12">
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="200"
          data-aos-once="true"
          class="portfolio-wrapper portfolio-slick-activation slick-arrow-style-one rn-slick-dot-style"
        >
          <div
            class="rn-portfolio-slick"
            *ngFor="let work of works"
            (click)="open(work)"
          >
            <div
              class="rn-portfolio"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalCenter"
            >
              <div class="inner">
                <div class="thumbnail">
                  <a href="javascript:void(0)">
                    <img [src]="work.img" alt="Personal Portfolio Images" />
                  </a>
                </div>
                <div class="content">
                  <div class="category-info">
                    <div class="category-list">
                      <a href="javascript:void(0)">{{ work.type }}</a>
                    </div>
                    <div class="meta">
                      <span>
                        <a href="javascript:void(0)"
                          ><i class="feather-heart"></i
                        ></a>
                        000
                      </span>
                    </div>
                  </div>
                  <h4 class="title">
                    <a href="javascript:void(0)"
                      >{{ work.title }}<i class="feather-arrow-up-right"></i
                    ></a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #workModal></app-modal>
