.bg_image--2 {
  background-color: #212428;
}

.sticky {
  background-color: #3770bb;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #555;
  transition: 0.3s;
}

.rn-header.header--fixed {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}
.rn-header.header--sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

// .section--hidden {
//   opacity: 0;
//   transform: translateY(8rem);
// }

// .section {
//   transition: transform 1s, opacity 1s;
// }

// .lazy-img {
//   filter: blur(20px);
// }

// .lazy-img.loaded {
//   filter: blur(0);
// }

.slide .content .inner span.subtitle {
  font-size: 14px;
  font-family: var(--font-secondary) !important;
  color: var(--color-lightn) !important;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}
.modal-overlay-active {
  pointer-events: none;
  opacity: 0.4;
  filter: blur(4px);
  transition: all 0.3s ease-in-out;
}
